@media screen and (max-width: 1024px) {
    .pc-nav {
      display: none;
    }
     
    .sp-nav {
      z-index: 1;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      display: block;
      width: 100%;
      background: rgba(0, 0, 0, 3);
      opacity: 0;
      transform: translateY(-100%);
      transition: all .2s ease-in-out;
    }
     
    .header-nav-item>span:last-child {
      font-size: 20px;
    }
     
    #hamburger {
      position: relative;
      display: block;
      width: 30px;
      height: 25px;
      margin: 0 0 0 auto;
    }
     
    #hamburger span {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      transform: translateY(-50%);
    }
     
    #hamburger::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff;
    }
     
    #hamburger::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 70%;
      height: 2px;
      background-color: #fff;
    }
    
     /*スマホメニュー*/
     
    .sp-nav ul {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
     
    .sp-nav li {
      margin: 0;
      padding: 0;
    }
     
    .sp-nav li span {
      font-size: 15px;
      color: #fff;
    }
     
    .sp-nav li a, .sp-nav li span {
      display: block;
      padding: 10px 0;
    }
     
     /*-閉じるアイコンー*/
    .sp-nav .close {
      position: relative;
      padding-left: 20px;
    }
     
    .sp-nav .close::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 16px;
      height: 1px;
      background: #fff;
      transform: rotate( 45deg );
    }
     
    .sp-nav .close::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 16px;
      height: 1px;
      background: #fff;
      transform: rotate( -45deg );
    }
    
    .toggle {
      transform: translateY( 0 );
      opacity: 1;
    }
    
    .allcontent {
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: auto;
      margin-right: auto;
    }
    
    .post_box {
      display: block;
    }
    
    img {
      width: 100%;
    }
    
    .content_box_r {
      text-align: center;
    }
    
    .content_box_r {
      line-height: 2;
      font-size: 14px;
    }
    
    .address_name {
      font-size: 25px;
      letter-spacing: 2px;
      padding: 0px  0px 20px 0px;
      border-bottom: dashed 2px #ffffff;
    }
  
    .address_info {
      margin: 10px 0;
      font-size: 14px;
      letter-spacing: 1.5px;
    }
  
    .address_tel {
      font-size: 14px;
      letter-spacing: 2px;
    }
  
    .footer_cont {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
    }
  
    .footer_menu{
      display: none !important;
    }
  }
